In [2]:
import pandas as pd
import mysql.connector
import matplotlib.pyplot as plt

conexion = mysql.connector.connect(
        host="localhost", user="root", database="lab2023")
pd.read_sql("SELECT * FROM user", conexion)

C:\Users\tomas\AppData\Local\Temp\ipykernel_19272\2816149837.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM user", conexion)

,User_id,Name,Last_name,Email,Password,Carreer,Year,Magister,Hash_user
0,1,Tomás,Pavez,tpavez@alumnos.uai.cl,$2b$12$jloFKRgH2ETDPzrg0W.6o.h11rAbYSiyco8BMUD...,Ingeniería Civil Informática,4,0,$2b$12$jloFKRgH2ETDPzrg0W.6o.SBZMpafOrSJEKMPBA...

In [4]:
pd.read_sql("SELECT * FROM attendance", conexion)

C:\Users\tomas\AppData\Local\Temp\ipykernel_20512\3950188937.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql("SELECT * FROM attendance", conexion)

,Attendance_id,Entry_date,Exit_date,Hash_user
0,1,2023-10-29 20:04:43,NaT,$2b$12$jloFKRgH2ETDPzrg0W.6o.SBZMpafOrSJEKMPBA...
1,2,NaT,2023-10-29 20:05:23,$2b$12$jloFKRgH2ETDPzrg0W.6o.SBZMpafOrSJEKMPBA...
2,3,2023-09-01 11:55:00,NaT,$2b$12$jloFKRgH2ETDPzrg0W.6o.SBZMpafOrSJEKMPBA...
3,4,2023-09-01 11:55:00,NaT,$2b$12$jloFKRgH2ETDPzrg0W.6o.SBZMpafOrSJEKMPBA...
4,5,2023-05-01 11:55:00,NaT,$2b$12$jloFKRgH2ETDPzrg0W.6o.SBZMpafOrSJEKMPBA...